---
import { featuredQuery, mainInfoQuery } from "@/lib/sanityQueries";
import { useSanityClient } from "@sanity/astro";
import type { MainInfo, ProjectOverview } from "types";

import Overview from "@/components/hero/Overview.astro";
import Featured from "@/components/hero/Featured.astro";
import Layout from "@/layouts/Layout.astro";

const { firstName, lastName, description, resume }: MainInfo =
  await useSanityClient().fetch(mainInfoQuery);
const { featured }: { featured: ProjectOverview[] } =
  await useSanityClient().fetch(featuredQuery);
---

<Layout title="Welcome to astro">
  <section
    class="flex flex-col items-center justify-center gap-8 lg:flex-row lg:justify-between"
  >
    <Overview
      firstName={firstName}
      lastName={lastName}
      description={description}
      resumeLink={resume}
    />
    <Featured featureds={featured} />
  </section>
</Layout>
