---
import FolioBar from "./FolioBar.astro";
import FolioNumber from "./FolioNumber.astro";

interface Props {
  sectionNumber: string;
  sectionBarNumber: string;
  sectionBarTag: string;
  sectionBarMeta: string;
  sectionBarId: string;
  sectionBarH2?: string;
  id: string;
  odId: string;
}

const {
  sectionNumber,
  sectionBarNumber,
  sectionBarTag,
  sectionBarMeta,
  sectionBarId,
  sectionBarH2,
  id,
  odId,
} = Astro.props;
---

<article class="page" id={id} data-od-id={odId}>
  <FolioBar
    sectionNumber={sectionBarNumber}
    sectionTag={sectionBarTag}
    sectionMeta={sectionBarMeta}
    sectionId={sectionBarId}
    h2Label={sectionBarH2}
  />
  <div class="page-inner">
    <FolioNumber text={sectionNumber} />
    <slot />
  </div>
</article>
